html {box-sizing: border-box; }

    *, *:before, *:after {box-sizing: inherit; 
}
p{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    padding: 4vh 2vw;
    overflow: hidden;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding: 2vw;
    text-align: center;
}
.a1, .a2, .a3, .b1, .b2, .b3, .b4, .b5, .c1{
    display: none;
}
main{
    height: 100%;
    display: grid;
    gap: 0.5vw;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(5, 1fr);
    .a{
        grid-column: 1/3;
        grid-row: 1;
        background-color: #C9316B;
    }
    .b{
        grid-column: 3/6;
        grid-row: 1/3;
        background-color: #CA319D;
    }
    .c{
        grid-column: 6/10;
        grid-row: 1/5;
        background-color: #ED6E62;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
    }
    .d{
        grid-column: 10/12;
        grid-row: 1;
        background-color: #EFC437;
    }
    .e{
        grid-column: 1/3;
        grid-row: 2;
        background-color: #538C45;
    }
    .f{
        grid-column:10/12;
        grid-row: 2;
        background-color: #267C87;
    }
    .g{
        grid-column:1/3;
        grid-row: 3;
        background-color: #799928;
    }
    .h{
        grid-column:3;
        grid-row: 3;
        background-color: #478755;
    }
    .i{
        grid-column:4/6;
        grid-row: 3;
        background-color: #30C9C2;
    }
    .j{
        grid-column:10/12;
        grid-row: 3;
        background-color: #31C98F;
    }
    .k{
        grid-column:1/6;
        grid-row: 4;
        background-color: #544079;
    }
    .l{
        grid-column:10/12;
        grid-row: 4;
        background-color: #DE212F;
    }

}

@media(max-width: 768px){

    p{
        margin: 0;
        padding: 0;
    }
    section{
        border: 0.4vw solid black;
        color: black;
        font-size: 24px;
    }
    main{
        
        height: 90%;
        display: grid;
        gap: 2vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "A B B"
                             "A C D"
                             "A C E";
        .a {
            p{
                display: none;
            }
            grid-area: A;
            display: grid;
            gap: 2vw;
            background-color: aqua;
            grid-template-columns: 1fr;
            grid-template-rows: 4fr 1fr 2fr;
            grid-template-areas: "A1"
                                 "A2"
                                 "A3";
            .a1{
                display: block;
                grid-area: A1;
                background-color: aqua;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .a2{
                display: block;
                grid-area: A2;
                background-color: aqua;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .a3{
                display: block;
                grid-area: A3;
                background-color: aqua;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }
        
        .b {
            
            grid-area: B;
            gap: 4vh;
            padding: 4vh;
            background-color: aqua;
            display: grid;
            grid-template-areas: "B1 B2 B2 B2 B3"
                                 "B4 B4 B4 B5 B5";
            .b1{
                display: block;
                grid-area: B1;
                background-color: aqua;
            }
            .b2{
                display: block;
                grid-area: B2;
                background-color: aqua;
            }
            .b3{
                display: block;
                grid-area: B3;
                background-color: aqua;
            }
            .b4{
                display: block;
                grid-area: B4;
                background-color: aqua;
            }
            .b5{
                display: block;
                grid-area: B5;
                background-color: aqua;
            }
            p{
                display: none;
            }
        }
        .c {
            grid-area: C;
            background-color: aqua;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "C1";
            .c1{
                grid-area: C1;
                height: 100%;
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
                display: none;
            }
        }
        .d {
            grid-area: D;
            background-color: aqua;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .e {
            grid-area: E;
            background-color: aqua;
            display: flex;
            justify-content: center;
            align-items: center;
        } 
        .f{
            display: none;
        }
        .g{
            display: none;
        }
        .h{
            display: none;
        }
        .i{
            display: none;
        }
        .j{
            display: none;
        }
        .k{
            display: none;
        }
        .l{
            display: none;
        }
    }
}
